aiohappyeyeballs==2.3.6
aiohttp==3.10.3
aiosignal==1.3.1
annotated-types==0.7.0
attrs==24.2.0
beautifulsoup4==4.12.3
Brotli==1.1.0
bs4==0.0.2
certifi==2024.7.4
charset-normalizer==3.3.2
frozenlist==1.4.1
greenlet==3.0.3
idna==3.7
instaloader==4.13
multidict==6.0.5
mutagen==1.47.0
pyaes==1.6.1
pyasn1==0.6.0
pycryptodomex==3.20.0
pydantic==2.8.2
pydantic_core==2.20.1
pytube==15.0.0
pytubefix==6.12.0
requests==2.32.3
rsa==4.9
soundcloud-lib==0.6.1
soupsieve==2.6
SQLAlchemy==2.0.32
Telethon==1.36.0
typing_extensions==4.12.2
urllib3==2.2.2
websockets==12.0
yarl==1.9.4
yt-dlp==2024.8.6
